.body-item {
    background-color: white;
}

.img-item {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.frame{
    height: 460px;
    width: 100%;
}
.manga-list{
    margin-bottom: 20px;
}
.menu{
    /* background-color: rgb(33, 150, 243);
    color: white; */
}
.nav-link{
    color: rgb(33, 150, 243) !important;
}
.social{
    display: flex;
}
.icon{
    
}

/* .widget-title {
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    border-left: 3px solid blue;
    color: blue
}

.widget {
    margin-bottom: 50px
}

.pull-right {
    float: none!important
}

.fa {
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 17px;
    line-height: 27px;
    color: white
}

i.fa-chevron-right {
    padding-top: 10px;
    float: right;
}

.contact-info {
    position: relative;
    padding-left: 35px
} */

.contact-info i {
    font-size: 35px;
    color: #f90;
    position: absolute;
    top: 0;
    left: 0
}